.manage-user-container {
    height: calc(100% - 20px);
    border-radius: 20px;
    padding: 40px;
    background-color: #fff;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    

    .users-content {
        .btn-add-new {
            margin: 15px 0px;
        }
        
    }

    .title {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 35px;
    }

}

.modal-add-user {
    .img-review {
        border: 1px dashed #ccc;
        height: 150px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;

        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .label-upload {
        display: inline-flex;
        gap: 5px;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px 8px;
        cursor: pointer;

        &:hover {
            opacity: 0.85;
        }
    }
}